<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.dao.ym.SystemRoleMapper">

    <!--显示所有角色信息-->
    <select id="getAllRole" resultType="Role">
		SELECT * FROM as_role
	</select>
    <!--  显示所有功能信息-->
    <select id="getAllFunction" resultType="Function">
		SELECT * FROM as_function
	</select>
   <!-- &lt;!&ndash;查询所有财务信息&ndash;&gt;

    &lt;!&ndash;  删除财务信息&ndash;&gt;

    <delete id="deleteconfig" parameterType="SystemConfig">
		DELETE FROM as_systemconfig WHERE id=#{id}
	</delete>
    &lt;!&ndash;新增财务信息&ndash;&gt;
    <insert id="addsystemconfig" parameterType="SystemConfig">
		INSERT INTO as_systemconfig (`configType`,`configTypeName`,`configTypeValue`,`configValue`,`isStart`)
		VALUES (1,#{configTypeName},NULL ,NULL,#{isStart})
	</insert>
    &lt;!&ndash;修改财务信息&ndash;&gt;
    <update id="updateconfig" parameterType="SystemConfig">
		UPDATE as_systemconfig SET configTypeName=#{configTypeName},isStart=#{isStart} WHERE id=#{id}
	</update>-->




</mapper>